[2020-10-28 00:00] gideongrinberg commented on #393
My apologies. However, using Cython to compile Python to C would allow for easier emscripting, would it not? Cython can also be a Python intepreter if you use it that way. You are able to exclude the Pyrex syntax to which you are refering and produce C.

[2020-10-28 03:31] AstraLuma commented on #393
The use of Cython sounds like a useful performance optimization to keep in mind, but not necessary to get a Python game running in the browser.

[2020-10-28 09:06] glyph commented on #393
No, not really. It adds steps to the build process, edge cases that users have to be aware of, and naive usage of Cython (i.e.: if you don't add lots of type annotations and write code in a way that is fast on Cython, avoiding complex method dispatch and other Python idioms) it runs about the same speed as interpreted Python (since it has to do all the same work Python bytecode needs to do anyway

[2020-10-28 12:02] pmp-p commented on #393
@Gideon357
| WASM's C support is good

True,  but sadly that does not apply to everyday C code that runs on full blown OS+threads, and even less to C that cython could help produce.

wasm vm in the browser ( where it is in fact a coroutine) does not allow long running loop or blocking I/O. That's a another trap to add to those glyph just well uncovered about cython.

I'm also quite sure that trap

[2020-10-30 05:01] #512 closed, assigned to nobody

[2020-10-31 14:48] mfonism commented on #523
@pathunstrom can you please confirm that #543 closes #522, which in turn supersedes this issue, and therefore this issue can be closed?😃

[2020-10-31 15:21] pathunstrom commented on #523
Yup, that killed the need for this. Closing!

[2020-10-31 15:21] #523 closed, assigned to nobody

[2020-12-01 03:21] Joetib opened #558 "Does ppb support android through briefcase"
I realised ppb is a well supported library that can be packaged with briefcase(from beeware.org) .

 I was wondering if packaging for android can be done in this way

[2020-12-01 03:33] AstraLuma commented on #558
yes*

All of the components should work, but:

* We don't have precompiled binaries for SDL for Android
* PPB has not yet implemented touch events, screen size/rotation handling, or other mobile-specific things
* AFAIK, nobody has tried it

[2020-12-24 04:13] pathunstrom opened #559 "Implement SDL2 Joypad Events"
Before we can do anything with joysticks and game controllers, we need the events handled by the translation layer.

Implement the maps from the SDL events to ppb events, defined as needed to support the Joypad events.

Union documentation is here: http://wiki.libsdl.org/SDL_EventType?highlight=%28%5CbCategoryEnum%5Cb%29%7C%28CategoryEvents%29

We need to implement:

* SDL_JOYAXISMOTION
* SDL_JOYB

[2020-12-24 04:15] pathunstrom opened #560 "Implement SDL2 GameController Events"
Before we can do anything with joysticks and game controllers, we need the events handled by the translation layer.

Implement the maps from the SDL events to ppb events, defined as needed to support the GameController events.

Union documentation is here: http://wiki.libsdl.org/SDL_EventType?highlight=%28%5CbCategoryEnum%5Cb%29%7C%28CategoryEvents%29

We need to implement:

* SDL_CONTROLLERAXISMO

[2020-12-24 04:26] pathunstrom opened #561 "Design game pad interface for ppb"
Requires #559 and #560 to make experimentation possible.

The SDL documentation is thin, I found this tutorial which is a bit better: https://5pmcasual.com/post/sdl2-game-controllers/

Also, the SDL_GameControllerDatabase: https://github.com/gabomdq/sdl_gamecontrollerdb

We need to figure out how ppb surfaces the various parts of the controller lifecycle and how events should be best identified fo

[2020-12-24 04:57] pathunstrom opened #562 "Control Remapping Feature"
I've designed a few of these for games, and we should definitely include a tool for designing control inputs that are easy to remap for end users.

This would be at least a system in features. The feature needs to do the basic translation between input events and the game verbs. It'd have a benefit if it used the event extension system to also manage state management for more complex controls.

In

[2020-12-27 22:29] AstraLuma opened #563 "Be helpful when trying to remove a sprite not in the parent"
Currently, gomlib explodes when you try to remove a sprite that's not a direct child.

Produce a helpful error message instead.

[2020-12-27 22:37] pathunstrom opened #564 "Typevar for signal function"
Need a callable typevar to type hint the signal parameter of event handlers.

```def on_update(self, event: ppb.events.Update, signal: SignalFunction```

Don't have a good idea of where this should live, but it's a pretty strict part of the API

[2020-12-27 22:43] AstraLuma commented on #564
it should be available as `ppb.SignalFunction`.

[2021-01-14 12:51] refaelsh opened #565 "Question: how to create rectangular sprites?"
Hi all,

Question: how to create rectangular sprites? Where is it in the docs? Or even better, are there any code samples?

Thanks. All.

[2021-01-14 15:58] pathunstrom commented on #565
API documentation is here:

https://ppb.readthedocs.io/en/stable/reference/sprites.html#ppb.RectangleSprite

The only catch is you'll want the aspect ratio of the sprite to match the images you use.

The big difference between `RectangleSprite` and `Sprite` is that `Sprite` uses `size` and `RectangleSprite` only has `height` and `width`.

Going to close this because there isn't ppb work associated

[2021-01-14 15:58] #565 closed, assigned to nobody

[2021-01-14 19:40] refaelsh commented on #565
I understand. Thank you. I am still having troubles after reading the docs. I will ask in Discord as you requested. Again, thank you.

[2021-01-14 20:08] pathunstrom opened #566 "Create a Rectangle asset to go with the Square."
We don't have an easy way to generate simply rectangular sprites, this would assist with that.

[2021-01-14 20:09] pathunstrom opened #567 "Create an Example using RectangleSprite."
Need to provide an example so folks interested in rectangular sprites have something to work from.

[2021-01-14 20:10] pathunstrom opened #568 "Create a Cookbook entry for rectangular sprites."
Just a simple how to of how to get rectangular sprites working quickly.

[2021-01-17 19:08] AstraLuma opened #569 "Rename BaseScene"
It's still called `ppb.BaseScene` instead of `ppb.Scene`

why?

To Solve:

- [ ] Rename ppb.BaseScene to Scene in scenes.py
- [ ] Add a subclass of Scene called BaseScene with a deprecation warning (to be removed in 0.14 _or_ 1.0 whichever comes first.)
- [ ] Import Scene into `__init__.py`
- [ ] Update tests to use ppb.Scene

[2021-01-17 23:05] pathunstrom commented on #569
Legacy. (We should totally change this.)

[2021-01-29 03:31] CaseyFaist opened #571 "Bug in Example caused by misnamed keyword parameter"
Hello!

While running through the examples for some inspiration I ran into an issue with the [External Event Loop Integration](https://github.com/ppb/pursuedpybear/tree/canon/examples/external_event_loop_integration) example.

The Bullet objects were all being instantiated at position (0, 0), rather than following the location of the Player, as were all 5 targets.

Addressed in #572

[2021-01-31 23:26] #571 closed, assigned to nobody

[2021-02-04 06:15] pathunstrom opened #573 "Cookbook entry: Cli example for loading specific scenes"
Build a cookbook entry explaining how to load arbitrary scenes using argparse and a dictionary.

[2021-02-04 06:17] pathunstrom opened #574 "Cookbook Entry: Passing keyword arguments as configuration flags"
Create a cookbook entry demonstrating how to modify keyword configuration via command line flags.

[2021-02-04 06:18] pathunstrom opened #575 "Add alpha channel support to the shape assets"
Add an additional keyword argument to the shape primitives that allows for an alpha channel, letting them be translucent.

[2021-02-04 15:49] AstraLuma commented on #575
Can this be part of the color argument?

Basically, add support for RGBA as well as RGB

[2021-02-04 16:29] pathunstrom commented on #575
The existing assets have separate rgb parameters: https://ppb.readthedocs.io/en/stable/reference/assets.html#ppb.Circle

[2021-02-15 16:29] pathunstrom commented on #128
Yes, going to close in favor of the detail there.

[2021-02-15 16:29] #128 closed

[2021-02-15 16:30] pathunstrom commented on #438
Yeah, let's close this, was an interesting thought experience, but not sure we gain anything from this name.

[2021-02-15 16:30] #438 closed

[2021-02-15 16:31] pathunstrom commented on #492
I think we can consider this one complete?

[2021-02-15 16:31] AstraLuma commented on #492
Probably, yeah

[2021-02-15 16:40] pathunstrom opened #577 "Subsprite Rendering"
Requires #665

Use the new render_walk to draw every sprite in the scene tree.

[2021-02-15 16:44] #492 closed

[2021-02-15 19:33] AstraLuma commented on #577
Open questions:

* Are subsprites positioned relative to the parent or the scene?
* If they're positioned relative to the parent, does that frame of reference rotate with the parent?

[2021-02-15 19:40] pathunstrom commented on #577
Initial pass: I'm only going to support global positioning. I don't want that to be the 'forever' decision.

I can imagine a pattern that allows us to support both fairly simply. I tend to consider relative positioning to be the "advanced" feature, so we could have a flag of some sort (`Sprite.relative_positioning` for example) that allows the renderer to switch to a relative mode for any given ob

[2021-02-20 22:06] pathunstrom opened #578 "Flaky visual test: Loading"
ppb commit: b2eee07a7f0ea
OS Windows 10
Python 3.8.6

Output:

[code]

Some kind of race condition I think? It's the assert failing.

[2021-02-21 08:51] jugmac00 opened #580 "ImportError: could not find any library for SDL2_gfx (PYSDL2_DLL_PATH: unset)"
Hi,

I just read about pbb on Twitter (https://twitter.com/pursuedpybear/status/1363252329441488896 ) and wanted to give it a quick try.

I created a virtualenv with Python 3.6, installed pbb, and run the example from here ( https://github.com/ppb/pursuedpybear#try-it ) and got the following traceback.

[code]

I run Ubuntu 18.04.

Is there anything else I need to install?

Thank you!

[2021-02-21 16:29] AstraLuma commented on #580
Yup! SDL itself. (You only need to do this for Linux.)

Instructions are towards the end of https://ppb.readthedocs.io/en/stable/getting-started.html#installing-ppb

See also https://github.com/a-hurst/pysdl2-dll/issues/2

[2021-02-21 17:19] #566 closed, assigned to pathunstrom

[2021-02-21 17:20] AstraLuma opened #582 "More formal handling of deprecations"
We need a better process for deprecations. It should:

* Record what version it will be dropped in
* Emit a warning when the thing is used
* Add to the docstring (so it'll appear in `help()` and sphinx autodocs)
* Work for functions, methods, and classes

We should look to see if there's an acceptable existing solution.

[2021-02-21 17:22] AstraLuma commented on #582
My design thought is a decorator like `@deprecated('1.2.4')`, which will wrap the thingy so it emits the warning, and add to the docstring dynamically at definition time.

[2021-02-21 18:03] mark-boer commented on #403
I'll have a look at this issue :-) #pycascades2021

[2021-02-21 18:16] AstraLuma commented on #578
Thanks past me for noting this and trying to write a test to induce this.

Present us now have to debug multi-threaded code.

[2021-02-21 18:45] mark-boer commented on #403
You are slowly gonna start to lose precision before you reach that point. But you probably still need millions to billions of rotations before that becomes any serious issue.

[2021-02-21 19:01] AstraLuma commented on #403
I assume you're referring to the accumulated error of the billions of calculations, or that as you approach 53 binary digits, you'll loose the fractions needed to rotate at 60fps.

[2021-02-21 20:04] mark-boer commented on #578
Interestingly, the problem seems to be that the "target.png" is finished loading, before the three delayed images have started loading. (So surprisingly it seems that the problem does _not_ arise due to the `sleep`) Therefore the loading screen, thinks it has loaded all 1 of 1 images and thus continues to the quitter screen.

You could fix it by starting the threadpool later, after all AssetLoadin

[2021-02-21 20:15] mark-boer commented on #403
At some point e.g. the value is 1.000.000.000.000, the next closest value that can be represented by a float might be 1.000.000.000.002, so at stupidly large number you get weird rounding errors:

[code]

[2021-02-21 20:20] AstraLuma commented on #403
Right. And if your increment is 1deg, you shouldn't see that until the 2^53 (15.9 decimal digits, 1e16 as you wrote).

[2021-02-21 21:46] AstraLuma commented on #578
New assets can be loaded at any time. And I'd really rather that the loading scene not reach into the internals of the asset loading system.

[2021-02-21 23:14] mark-boer commented on #578
You could maybe register assets, that you would want to wait on in the loading screen?

Also calling the `DelayedThreadExecutor._finish` on the main thread might work. Or checking finished jobs in the main loop?

Or, maybe not use the data in the AssetLoaded event, but instead in `on_asset_loaded`, check if all the assets in the next scene are loaded.

[2021-02-21 23:24] AstraLuma commented on #578
Gotta make sure you both reference the asset and then pre-declare it for the loading screen? And then you forget to update one of the two places.

I mean, it's never actually finished, just idle. Again, new, previously unknown assets can be referenced at any time.

How do you make that list?

[2021-02-21 23:44] mark-boer commented on #578
I'm just spitballing here, I don't actually know what would make most sense in this case.

It would be difficult, because asset classes are not instantiated until the scenes are instantiated.

You could use meta classes, similar to how SQLAlchemy ORM is used. But I don't know if that would work with the current syntax.

[2021-02-22 03:52] #567 closed, assigned to nobody

[2021-02-22 05:02] pathunstrom commented on #551
Closed with #587

[2021-02-22 05:02] #551 closed, assigned to nobody

[2021-02-22 05:03] pathunstrom commented on #553
Closed with #586

[2021-02-22 05:03] #553 closed, assigned to nobody

[2021-02-22 05:57] pathunstrom commented on #482
Closed with #584

[2021-02-22 05:57] #482 closed

[2021-02-22 06:07] jugmac00 commented on #580
Thanks for the quick feedback! The suggested solution works like a charm.

I created a PR to add a sentence about the additional packages to the `Try it` section.

P.S.: Crossing fingers that there will be wheels in future also for Linux!

[2021-02-22 06:09] pathunstrom commented on #580
We rely on pysdl2-dll for our SDL dlls, I believe the maintainer of that project is open to assistance for making it happen/! (And we do want linux wheels eventually!)

[2021-02-22 06:15] #580 closed, assigned to nobody

[2021-02-26 17:03] pathunstrom commented on #569
Completed with #583

[2021-02-26 17:03] #569 closed, assigned to nobody

[2021-03-07 18:12] pathunstrom opened #589 "Improve Type hints in documentation"
There is apparently a setting to move the type hints from the signature line to the autodocs params generated by Sphinx.

Research what the setting is and implement it.

[2021-03-07 18:25] lfunderburk commented on #589
Hi I am not sure where I can find the documentation :/

[2021-03-07 18:46] AstraLuma commented on #589
The documentation source is in [the `docs` folder](https://github.com/ppb/pursuedpybear/tree/canon/docs).

This issue isn't so much about the contents of the docs as it is about sphinx and how docs are produced.

[2021-03-07 18:49] AstraLuma commented on #399
This looks like it has not.

#516 handles `ppb.run(starting_scene=MyScene)` vs `ppb.run(starting_scene=MyScene())`

This issue is asking for `ppb.run(MyScene)` and `ppb.run(MyScene())` to also work.

[2021-03-07 19:32] AstraLuma commented on #589
Example of ugly type hints https://ppb-vector.readthedocs.io/en/stable/#ppb_vector.Vector.__add__

[2021-03-07 19:45] AstraLuma opened #593 "Test examples and cookbooks"
We should see if we can add examples and cookbooks to automated testing, so they don't break.

[2021-03-07 19:54] AstraLuma commented on #589
(Ideally, this would be `__add__(other: Vectorish) → ppb_vector.Vector` but I haven't found this feature yet.)

[2021-03-07 20:00] #513 closed, assigned to nobody

[2021-03-07 20:00] #533 closed, assigned to nobody

[2021-03-07 20:01] AstraLuma opened #596 "Revisit ROADMAP.md"
Pretty sure this needs to go.

[2021-03-07 20:05] pathunstrom commented on #596
Yeah, just delete it, the roadmap changes way more than we keep it running.

[2021-03-07 20:49] #596 closed, assigned to nobody

[2021-03-07 21:30] #574 closed, assigned to pathunstrom

[2021-03-09 19:40] AstraLuma commented on #589
https://docs.python.org/3.10/whatsnew/3.10.html#pep-613-typealias-annotation

[2021-03-13 16:21] #545 closed, assigned to nobody

[2021-03-13 16:38] #536 closed, assigned to nobody

[2021-03-20 20:39] #517 closed, assigned to nobody

[2021-03-22 00:37] AstraLuma opened #599 "Third triangle in viztest is mislabeled"
In `viztests/main.py`, it labels the third triangle as equilateral, which is incorrect.

Also, `main.py` is a terrible name for that test.

[2021-03-27 19:01] AstraLuma commented on #558
I'm closing this, as this is a question with no activity for 4 months.

[2021-03-27 19:01] #558 closed, assigned to nobody

[2021-03-27 19:06] AstraLuma commented on #497
Closing due to the lack of activity >6mo

[2021-03-27 19:12] AstraLuma commented on #374
Can I get an update on this?

[2021-03-27 19:13] AstraLuma commented on #370
Hey, piper, I don't want to close this, but you need to write down an example?

[2021-03-27 19:14] pathunstrom commented on #370
Right, I'll try to duplicate this soon.

[2021-03-27 19:15] AstraLuma commented on #269
We need to finish breaking this out.

[2021-03-27 19:17] AstraLuma commented on #77
I would like to get this in to 1.0, if possible?

@CJ-Wright are you still available for this?

[2021-03-27 19:20] AstraLuma opened #600 "Clean up deprecations"
Remove pending deprecations for 1.0

[2021-03-27 19:32] AstraLuma opened #601 "Better deprecation system"
Currently, we have vague concepts of deprecations and they're document pretty poorly. A few raise warnings, but there's no consistency.

Find or develop a formal deprecation system:
* Easy to annotate functions, classes, and methods as deprecated
* Include renames
* Include version in which it'll be removed
* Automatically add to docstring and sphinx docs
* Automatically raise warnings on use
* So

[2021-03-27 19:46] pradyunsg commented on #269
FWIW, https://github.com/pradyunsg/sphinx-inline-tabs looks nice. 😅

[2021-03-27 19:48] AstraLuma commented on #269
</shameless self promotion>

[2021-03-27 20:09] AstraLuma commented on #601
* https://pypi.org/project/Deprecated/
* ~https://github.com/briancurtin/deprecation~ https://github.com/briancurtin/deprecation/issues/43

[2021-04-10 09:28] pradyunsg commented on #555
Hi! A bit of self-promotion: https://pradyunsg.me/furo/

:)

[2021-04-14 22:54] #403 closed

[2021-04-29 02:43] AstraLuma commented on #77
I'm taking this off 1.0 because I haven't heard from CJ yet, and both maintainers have enough going on that this seems unlikely.

[2021-05-13 01:44] #600 closed, assigned to nobody

[2021-05-14 15:35] pathunstrom opened #606 "Update Maintenance Schedule documentation"
We need to update our maintenance schedule documentation to match our new goals.

The existing document is here: https://ppb.readthedocs.io/en/stable/discussion/maintenance-schedules.html

## Important notes

Our drafted breaking change policy: Give deprecation warnings for _at least_ a year. Deprecation warnings are a minor bump only. All breaking changes happen on our Northern Solstice release.

[2021-05-14 17:45] pathunstrom opened #607 "Broken link in asset system reference"
The reference to ppb.assets.Circle on https://ppb.readthedocs.io/en/stable/discussion/assets.html is not hyperlinkers properly.

This should probably reference Ellipse instead, but we also want the hyperlink to be generated.

[2021-05-14 17:46] pathunstrom commented on #607
Same page AssetLoadingSystem is also not hyperlinked properly.

[2021-05-14 17:46] pathunstrom commented on #607
Asset.free() is another one.

[2021-05-14 17:47] pathunstrom commented on #607
The final `load` reference is broken as well.

[2021-05-14 20:12] mumblingMac opened #608 "Failed loading libtiff-5.dll: The specified module could not be found."
Simple ppb file
[code]

Stack Trace
[code]

I was able to determine that the missing libtiff-5.dll is in fact in the python site-packages.

[code]

[code]

My best guess is that the sdl_utils.py needs a `import sdl2dll`.  By putting that within sdl_utils.py I was able to get passed this error, but encounter a different one.

[2021-05-15 17:33] pathunstrom commented on #502
Just replicated this on Windows 10 with python 3.9:

[code]

I ran the animated sprite example with a fresh 3.9 virtual environment only install was `pip install ppb`.

[2021-05-15 17:35] AstraLuma commented on #608
This means PPB shouldn't have to do anything. https://github.com/marcusva/py-sdl2/blob/c1bdf43501224d5f0a125dbce70198100ec7be82/sdl2/dll.py#L18-L26 (since 0.9.7).

Your freeze from discord was:

[code]

[2021-05-15 17:36] pathunstrom commented on #608
Potentially related error, replicated in Windows 10 with a fresh Python 3.9 virtual environment set up with `pip install ppb`. Ran the animated sprite example.

[code]

[2021-05-15 17:36] AstraLuma commented on #608
The way to check if pysdl2dll registered correctly is to check the value of `os.getenv('PYSDL2_DLL_PATH')` after importing ppb, and check what's in the directory.

[2021-05-15 17:44] pathunstrom commented on #608
Ran the above, it's referencing the virtual env's pysdl2_dll install location. My dll folder there:

[code]

[2021-05-15 17:46] AstraLuma commented on #608
@a-hurst @marcusva We might have to bounce this off you? The ogg support problem _might_ be more related to #502, but we don't know yet.

[2021-05-15 17:50] a-hurst commented on #608
@AstraLuma Hmm, I'll take a look. From what I remember Windows OGG support works fine with pysdl2 in CI testing, but I could be wrong!

[2021-05-15 18:05] a-hurst commented on #608
@pathunstrom Can you try running the following code and let me know what you get?

[code]

[2021-05-15 18:18] a-hurst commented on #608
OH! @pathunstrom are you using Python installed from the Microsoft store instead of Python.org? I remember another project running into trouble with Microsoft's Python because Windows store apps are stricter about which folders you can dynamically load libraries from.

I'm not sure what a proper fix would look like in a pure-Python project such as pysdl2 (the other project project I mentioned used

[2021-05-15 18:19] AstraLuma commented on #608
Is it at least possible to check if that's the case and emit a warning?

[2021-05-15 18:20] pathunstrom commented on #608
Apparently the answer to that is "yes" I did install through the store on this machine. That's fascinating since this definitely is a newer error for me.

[2021-05-15 18:21] pathunstrom commented on #608
I'll get a python.org install running and test again.

[2021-05-15 18:21] mumblingMac commented on #608
I had the error from python 3.9 from the microsoft store.  I then used pyenv for windows to install a different python version and didn't have any issues importing the libraries

[2021-05-15 18:22] a-hurst commented on #608
@AstraLuma Do you mean check if a user is running Microsoft Store Python, or just check if there's a problem with loading dependency DLLs for mixer/image/ttf?

[2021-05-15 18:23] AstraLuma commented on #608
@a-hurst check if they're running microsoft store python.

[2021-05-15 18:25] a-hurst commented on #608
It should be possible: I remember there being a command in Python to get the path of the current Python executable, since it follows a specific pattern for the MS store version (i.e. contains `PythonSoftwareFoundation.Python.` I should be able to detect it that way and warn users accordingly!

[2021-05-15 18:29] a-hurst commented on #608
@AstraLuma Also, this is off-topic but a few months back I put a few days into getting manylinux wheels up-and-running for pysdl2-dll. I got a fair bit of it working, but I remember there being some remaining headaches (e.g. native Wayland support, WebP for `SDL_image` having problems compiling) that I didn't have time to iron out. If you're still interested in helping on that front I can upload w

[2021-05-15 18:30] AstraLuma commented on #608
@a-hurst oh yes please!

IMHO, that is perfectly acceptable for a release--WebP isn't common in games, and there's still plenty of support for X11.

[2021-05-15 18:33] a-hurst commented on #608
I think I had a list of the remaining issues somewhere, I'll need to go and find it. In the meantime, I'll get my changes uploaded in a PR or something and you can try testing it out!

[2021-05-16 13:52] a-hurst commented on #608
@AstraLuma I'm still trying to get it fully working again (I was hacking around with it a lot last time, and seem to have broken libpng's ability to find zlib somehow), but you can see and follow my current rough progress here: https://github.com/a-hurst/pysdl2-dll/tree/manylinux. Will keep you posted on my progress.

Relatedly, does PPB make use of `SDL_image` at all, or do you just use TTF and m

[2021-05-16 15:09] AstraLuma commented on #608
Yes https://github.com/ppb/pursuedpybear/blob/a9dc1222581008c272699b309dadfc007cba759c/ppb/systems/renderer.py#L73-L114

[2021-05-16 15:10] AstraLuma commented on #608
Also, if you want to chat, you should hop by our discord.

[2021-05-16 17:18] #606 closed, assigned to pathunstrom

[2021-05-16 18:59] pathunstrom opened #612 "Add helpful error when translate_point_to_screen fails due to AttributeError"
Example Error:

[code]

We don't necessarily want to force folks to use the ppb vector class, but we do expect the vector.x and vector.y to exist. That said, for people experiencing this error, they most likely set the position of a gameobject to a tuple or some other representation of a vector instead of a Vector.

We should capture this attribute error and raise a new one with a more helpful mes

[2021-05-16 19:02] AstraLuma commented on #612
This is basically the same problem as `_rotation` and what #271 tried to solve.

[2021-05-16 22:57] pathunstrom opened #613 "Add instruction to do an editable install to the CONTRIBUTING.md"
Right now we don't explain doing an editable install of ppb in the I Want To Code section of the CONTRIBUTING file. We should include that instruction for people newer to Python contributing.

[2021-05-17 13:52] MateusDenucci commented on #548
Just made a [pull request](https://github.com/ppb/pursuedpybear/pull/615) to fix it. Hopefully it is good (:

[2021-05-17 17:00] #548 closed, assigned to nobody

[2021-05-17 18:52] a-hurst opened #619 "Occasional SdlMixerError for keyboard_and_mouse_controls example"
When running the keyboard_and_mouse_controls example, I almost always get an error saying that the Mixer audio device hasn't been opened. Here's the full traceback:

[code]
However, on one of my 4 attempts to run the demo, it loaded and seemed to work as expected, which probably means there's a race condition of some sort.

[2021-05-17 18:55] vicohart commented on #381
Going to attempt to tackle this.

[2021-05-17 19:27] AstraLuma commented on #619
This should be an invariant of `assetlib`: The assets won't begin loading until the systems have initialized and `__enter__()`'d.

[2021-05-17 21:31] #563 closed, assigned to AstraLuma

[2021-05-17 22:27] #601 closed, assigned to AstraLuma

[2021-05-18 06:43] aaronmak commented on #384
I'll give this a go

[2021-05-18 16:08] AstraLuma opened #623 "Assets aren't cached properly"
if you run `targets.py`, you'll see:

[code]
This indicates that assets aren't caching properly.

[2021-05-18 16:35] AstraLuma commented on #619
And, of course, this goes away if you add any debugging.

[2021-05-18 16:55] AstraLuma commented on #619
well that's exciting. I just got the error, even though it absolutely has.

[code]

[2021-05-18 16:58] AstraLuma commented on #619
ah, there we go

[code]

[2021-05-18 16:59] AstraLuma commented on #619
So yes, we are breaking the invariant that systems are initialized before assets begin loading.

[2021-05-18 17:49] AstraLuma opened #626 "Sprinting with PPB doc?"
Should we have a document talking about sprinting with PPB?

What should go in to it?

[2021-05-19 01:48] #518 closed, assigned to AstraLuma

[2021-05-19 01:48] #564 closed, assigned to AstraLuma

[2021-05-19 02:35] #623 closed, assigned to nobody

[2021-05-26 03:26] bildzeitung commented on #502
With respect to WSL, I'm *really* hoping that the init / sound / driver issues are resolved in the upcoming support for X apps: https://github.com/microsoft/wslg . I'll try to test whenever I get a computer on the preview release, but 🤞

[2021-05-26 03:30] AstraLuma commented on #502
Even if they don't, PPB should work without wsl.

[2021-05-26 04:42] bildzeitung commented on #502
Fair enough; won't see me arguing that.

I suppose the broader concern is whether PPB should work without audio if there ain't any. Not sure if the asset loading has been re-worked to sort out the init issues -- it's been a while since I dug into that stuff.

That being said, the WSL experience is pretty miserable (not due to PPB) for a bunch of reasons -- a bunch of add'l setup notwithstanding, s

[2021-05-26 04:48] pathunstrom commented on #502
A good thing to note: We should see how the new SDL wheels affect WSL when we get a chance.

[2021-05-27 01:39] #549 closed, assigned to nobody

[2021-06-01 04:44] nilamo opened #631 "Write the tutorials"
The Contributing doc mentions a Tutorials repo (https://github.com/ppb/pursuedpybear/blob/canon/CONTRIBUTING.md#i-want-to-teach), and the docs have a Tutorial page (https://ppb.readthedocs.io/en/stable/tutorials/index.html), but both are non-existent or empty.  Have the tutorials been removed?  Are the links broken?

Currently, all of the docs seem to be a Getting Started guide, and an API referen

[2021-06-01 05:19] AstraLuma commented on #631
Nope, we just haven't written any yet.

[2021-06-01 15:37] nilamo commented on #631
Is that something I can take a shot at working on?  Are there specific tutorial ideas y'all have in mind?  Maybe feature-focused, like how to implement a pause menu, or an entire game from start to finish, like Pong?

Also, do you prefer raw markdown files, or jupyter notebooks?

[2021-06-01 17:29] pathunstrom commented on #631
We're open to both!

While it needs to eventually make it into the documentation somewhere, I recently wrote a blog post on this: https://ppb.dev/2021/05/27/help-1-0.html

The important notes:
* A tutorial is a "full program". You can use a full tutorial to teach a specific feature implementation, but it should include all of the steps to reach that point.
* For something like "here's a sample pau

[2021-06-01 17:38] nilamo commented on #631
It absolutely is not.  With any semi-large project, it can be fairly daunting to know how (or even if) I can help, and the best ways to do so that fit in with the rest of the project.  Thanks for the links, I've got some reading to do later, now 😄

[2021-10-01 02:53] #370 closed

[2021-10-01 02:54] #497 closed, assigned to nobody

[2021-10-01 03:02] AstraLuma commented on #582
closed by #618

[2021-10-01 03:02] #582 closed, assigned to nobody

[2021-10-01 03:06] AstraLuma commented on #575
Note that the renderer itself has bugs around this.

Those bugs are not part of this issue.

[2021-10-01 03:09] AstraLuma commented on #560
Note that the interface should also reasonably map to https://developer.mozilla.org/en-US/docs/Web/API/Gamepad_API/Using_the_Gamepad_API

[2021-10-01 03:10] AstraLuma commented on #559
We probably don't need both this and #560.

[2021-10-01 03:11] AstraLuma commented on #560
Probably don't need both this and #559.

[2021-10-01 03:13] AstraLuma commented on #555
@pathunstrom rather likes furo for a variety of structural and aesthetic reasons.

[2021-10-01 03:16] AstraLuma commented on #544
Should we do this or move to a shader-based renderer?

[2021-10-01 03:25] AstraLuma opened #636 "Add deprecation for 3.6"
Raise a deprecation warning if the user is using 3.6.

3.6 support will be dropped in 2.0 (June 2022).

[2021-10-01 03:32] AstraLuma commented on #498
Fixed in #621

[2021-10-01 03:34] #498 closed, assigned to AstraLuma

[2021-10-01 03:38] AstraLuma commented on #447
Also, the SDL_GameControllerDatabase: https://github.com/gabomdq/sdl_gamecontrollerdb

[2021-10-01 03:38] AstraLuma commented on #561
Closing in favor of #447

[2021-10-01 03:38] AstraLuma commented on #560
Closing in favor #447

[2021-10-01 03:39] AstraLuma commented on #559
Closing in favor of #447

[2021-10-01 03:39] #561 closed, assigned to nobody

[2021-10-01 03:40] #560 closed, assigned to nobody

[2021-10-01 03:40] #559 closed, assigned to nobody

[2021-10-01 03:44] AstraLuma commented on #444
This does dig into the renderer and messes with the ctypes call a bit, but it should also be an extremely simple change.

[2021-10-01 03:59] AstraLuma commented on #374
We think this fixed itself and Mojave is about as dead as outsiders can tell.

[2021-10-01 03:59] #374 closed

[2021-10-01 04:09] AstraLuma opened #637 "Fix viztests/loading.py"
`viztests/loading.py` stopped working because of an assetlib change (uses `__new__` instead of `__init__`).

Fix that.

[2021-10-01 15:34] abhijeetgupto commented on #599
assign this to me , i'll do it !

[2021-10-01 16:33] MichaelCduBois commented on #636
I would like to work on this ticket.

[2021-10-01 18:46] tran-dy commented on #607
Hi, I took a stab at correcting some of the links on this doc page.

Wasn't positive on how to proceed to correct for the AssetLoadingSystem reference since there didn't seem to be a section for that in the docs already.

Would that fit in as a section right before "General Asset Interface" section on this page ([https://ppb.readthedocs.io/en/stable/reference/assets.html](https://ppb.readthedocs.i

[2021-10-02 02:23] Abhinav-CHD commented on #444
Hey I would like to work on this issue

[2021-10-02 10:15] elenajp commented on #613
Hello!

I am new to open source and I would love the opportunity to contribute with this issue.

Elena :)

[2021-10-02 16:51] elenajp commented on #613
I submitted a pull request :)

[2021-10-02 16:53] sjames1958gm commented on #526
Please, I can take this issue.

[2021-10-03 01:55] pathunstrom commented on #526
Completed with #642

[2021-10-03 01:55] #526 closed, assigned to nobody

[2021-10-05 18:23] sgavil commented on #550
Hi! Can I contribute to this issue?

[2021-10-05 18:55] pathunstrom commented on #550
Yes, thank you!

[2021-10-06 08:10] elenajp commented on #555
Hi,

I would like to have a look into this one please.

Elena :)

[2021-10-06 16:21] AstraLuma opened #643 "Add Python 3.10"
3.10 is out now, make sure it gets into the places.

* [ ] CI
* [x] Package metadata

[2021-10-08 15:56] #550 closed, assigned to nobody

[2021-10-09 17:18] pathunstrom commented on #555
Feel free!

[2021-10-11 11:10] sgavil commented on #643
Hi! Would like to do it

[2021-10-18 20:10] AstraLuma commented on #555
Hey, @elenajp, how's this going?

[2021-10-18 20:59] #643 closed, assigned to nobody

[2021-10-20 14:42] elenajp commented on #555
Hi @AstraLuma sorry for the late reply. Things have been busy at my end and I have a few interviews to prepare for. So feel free if you want to jump on this one. If you do, please keep me posted, as when I have some time again I could do it but yeah, go for it 😁

[2021-10-23 20:24] #636 closed, assigned to nobody

[2021-10-25 00:59] #637 closed, assigned to AstraLuma

[2021-10-25 03:05] pathunstrom opened #648 "ppb.events `__all__` don't include all event types"
Mostly affects tooling, but we should include the missing events in the events `__all__`.

Noticed this in PyCharm when importing KeyPressed, looks like we're missing both Key events and the Mouse events, but should be a quick process of confirming which events are exported.

[2021-10-26 00:41] phileinsophos commented on #648
can I work on this

[2021-10-26 01:02] AstraLuma commented on #648
Yeah, go ahead

[2021-11-03 16:29] AstraLuma commented on #393
Tossing this on the pile: https://github.com/RustPython/RustPython/ (WASM as a primary target)

[2021-12-01 18:41] AstraLuma commented on #393
https://github.com/ethanhs/python-wasm

[2021-12-16 17:02] pathunstrom opened #650 "Docs builds are failing: Resolve by updating doc-utils requirement"
A change was made to doc-utils to replace traversal with a generator. Sphinx tries to reverse the generator, which fails.

The current solution is to pin doc-utils in requirements-docs.txt to <0.18 as documented here: https://github.com/sphinx-doc/sphinx/issues/9727

[2021-12-21 00:42] pathunstrom opened #652 "BadHandlerException says signal only accepts and event instance."
Should mention targets.

[2021-12-24 19:14] #650 closed, assigned to nobody

[2021-12-24 22:08] pathunstrom commented on #648
Closed via #649

[2021-12-24 22:08] #648 closed, assigned to nobody

[2022-02-03 04:06] pathunstrom opened #660 "Experiment: Timing System"
Regarding a conversation between myself and @AstraLuma, we discussed a more robust methodology for allowing PPB to be run by external event loops. One of the things we should test first is how systems function when they are no longer driving their own signalling system.

Primary targets for this experiment:

Updater will become our intermediary timer. It needs to grow a few capabilities: one time

[2022-02-03 04:09] pathunstrom opened #661 "Experiment: Bifurcated Renderer"
Split the simulation and render loops between threads and/or processes.

Inside the simulation loop, the "renderer" builds a compositing data structure that we serialize and send to the real renderer which renders the data.

Goals: Real async renders, also essential for the future of ppb in the browser.

[2022-02-03 04:18] pathunstrom opened #662 "Experiment: Rich Text Sprite Object"
Start making text nicer to work with.

The first pass is getting the resolution of the rendered text to more closely match the AABB of the sprite object. We can write this in such a way that when the text of the sprite changes, we update the target aspect ratio, and then changes to width and height work like the camera: attempt best fit.

After that: lots of things IE supporting resizing, italics,

[2022-02-03 04:19] pathunstrom commented on #544
I think this is both, but now tying this to #661

[2022-02-03 04:28] pathunstrom opened #663 "Splitting The World: Python packaging and supporting multiple backends"
Constraints:

`pip install ppb` needs to produce the default desktop implementation as it exists now.

When installing for a web context, we don't want SDL included, so need some method to get "core" "features" and "ppb-web-backend" (We can shave the naming yak later).

We should start having a conversation on what this looks like and how to handle it overall.

Current options are deep magics to c

[2022-02-03 06:37] AstraLuma opened #664 "Spike: CPython WASM"
Based on https://github.com/ethanhs/python-wasm go make ppb run at all in the browser.

[2022-02-05 22:27] pathunstrom opened #665 "More aggressive walk function"
The current walk is fine as is, but we need a walk implementation that doesn't care if the child has its own walk method so that the renderer itself can be sure to reach all renderable objects.

We can call the new method `render_walk` for now (unless someone has a better idea) and it should only care that each level has children. It can use the `render_walk` method to get the child and grandchild

[2022-02-05 22:30] pathunstrom opened #666 "GameObects need to have a parent"
In an effort to support relative positioning inside of #577 we're going to need to break a fundamental assumption of ppb: objects need to know the container they live in. Since we have the gomlib now, we don't need to worry about this.

Add a self._parent as a weak reference to the containing GameObject, then when a GameObject is added to another, set the child._parent to the container. When you r

[2022-02-05 22:37] pathunstrom opened #667 "Relatively Positioned Sprites"
Requires #666

Specifically intended as subsprites (#577), a `RelativeSprite` uses a separate attribute for its position. We'll call it `relative_position`. `RelativeSprite.position` becomes a property that returns the relative position in relation to the position and rotation of its parent.

For now, we'll leave RelativeSprite's own rotation alone, but if testing proves it necessary, rotation wil

[2022-02-06 01:00] AstraLuma commented on #665
[Current function](https://github.com/ppb/pursuedpybear/blob/cacde17237c75504d8871d11d3fb5d52363c62b8/ppb/gomlib.py#L182-L195) is already pretty aggressive and has minimal dependencies on object methods? What it doesn't do is allow you to prune the walk.

[2022-02-06 18:27] pathunstrom commented on #665
It still relies on `walk` doing the right thing. If we want to support "renderer always gets everything" and "can opt out of event dispatch" we need to split this regardless.

[2022-02-06 18:27] AstraLuma commented on #665
true, but we have so little design on "can opt out of event dispatch", i wouldn't worry about it.

[2022-02-06 18:30] pathunstrom commented on #665
Then how about we change the scope of this to having the current walk step around game objects that don't implement walk?

[2022-02-06 19:50] #612 closed, assigned to nobody

[2022-02-06 21:32] AstraLuma commented on #666
I believe @avarice-m said in discord faer would be working on this.

[2022-02-06 21:46] ProsperousHeart commented on #599
@AstraLuma what is it supposed to be? What do you suggest the test file name be?

[2022-02-06 21:50] ProsperousHeart commented on #408
Is this information found anywhere else?

[2022-02-06 21:54] AstraLuma commented on #599
not a file name, inside it calls equalateral when i think it's Isosceles

[2022-02-06 21:56] pathunstrom opened #668 "Import warnings in ppb __init__.py"
We use the warnings module to tell users that their python version is deprecated. Unfortunately we seem to have forgotten to import the module!

Add `import warnings` under `import logging` so we don't error out while trying to warn our users!

[2022-02-06 22:01] pathunstrom opened #669 "features subpackage doesn't have __init__.py"
It's not strictly necessary, but some tools don't recognize it as a package. Let's add a basic one ~~with imports of the subsidiary modules.~~

[2022-02-06 22:07] pathunstrom commented on #408
1. is already in the README, but could use some focus on the README audience (largely contributors)
2. This _might_ be in the Contributing Guide, but it's mostly "create virtual environment, activate environment, pip install -e ."
3. This is mostly where the bits live: docs in docs, ppb source in ppb, tests in tests and viztests
4. This is on me, I'm working on it, but it's a dense document to wri

[2022-02-06 22:15] jillslind commented on #668
Going to quickly take care of this, I think.

[2022-02-06 22:31] AstraLuma commented on #669
I think we deliberately don't proactively import the submodules, for efficiency and such.

[2022-02-06 22:32] moshez commented on #669
Agreed with @AstraLuma -- adding just the file (with a docstring) is probably enough to solve the recognition problem, without changing behavior in weird edge cases.

[2022-02-06 22:36] ProsperousHeart opened #671 "Update Getting Started"
![image](https://user-images.githubusercontent.com/20706498/152704216-d978df6e-5b0f-40a7-bacf-76a583cdba00.png)
From [Getting Started](https://ppb.dev/contributing.html) there are a couple of things that might be confusing to newbies:

1. It is a bit confusing to say "find a ticket you want to work on and create a PR with just your name changed in contributions." For one, newbies may not know what

[2022-02-06 22:40] AstraLuma commented on #671
1. Good catch! That is confusing to newbies and we should explain it more.
2. On Unixy boxen, git generally just exists if it's installed. No extra steps are needed to enable it. ("generally" because there's no end of people doing weird things with their Linux.)
3. Yup! That is also wrong and in needing of fixing.

[2022-02-06 22:45] ProsperousHeart commented on #671
Adding another item:  requirements file is missing an s (it is below the numbered values)

[2022-02-06 22:45] ProsperousHeart commented on #671
also - we may want to have a section for Windows installations for people like myself :)

[2022-02-06 22:54] AstraLuma commented on #671
Yup! We have some of that in the installation doc.

(TODO: sphinx extension for platform-specific tabs.)

[2022-02-06 23:28] ProsperousHeart commented on #671
Oh great! It would be helpful for Windows users to have that linked in the doc

[2022-02-06 23:42] ProsperousHeart commented on #626
Is this related to [this](https://ppb.dev/contributing.html)?

[2022-02-06 23:43] ProsperousHeart commented on #607
Has this been completed?

[2022-02-06 23:45] ProsperousHeart commented on #593
Where are cookbooks located?

[2022-02-06 23:46] AstraLuma commented on #626
Yes and no. Above and beyond that, the thought would be talking about how Piper and I run sprints, and cover things like You can just make a game!

[2022-02-06 23:48] AstraLuma commented on #607
Looks like!

[2022-02-06 23:48] #607 closed, assigned to nobody

[2022-02-06 23:49] AstraLuma commented on #593
https://github.com/ppb/pursuedpybear/tree/canon/docs/howto

[2022-02-06 23:58] ProsperousHeart commented on #593
For clarity, this ask is to write a cookbook in such a way that it can be automated to ensure they are correct (will work) in automated testing - not "please write 'how to write testing files'"

(based on PyCascades 2022 sprint)

[2022-02-06 23:59] #668 closed, assigned to nobody

[2022-02-07 00:00] ProsperousHeart commented on #626
Would this be written in Sphynx then? At least to begin outlining the needs?

[2022-02-07 00:01] AstraLuma commented on #626
Sphinx or website.

[2022-02-07 00:35] pathunstrom commented on #593
@ProsperousHeart with all the research you've done today, please feel free to open a PR adding yourself to the CONTRIBUTORS file. You've been a huge help!

[2022-02-07 02:48] pathunstrom commented on #669
Striking the import portion of the ticket!

[2022-02-08 03:05] #555 closed, assigned to pathunstrom

[2022-07-26 19:35] ace510 opened #674 "SDLmixererror when invoking ppb.run()"
consistently when I invoke ppb.run() it immediately throws a

ppb.systems.sdl_utils.SdlMixerError: Error calling Mix_Init: Failed loading ModPlug_Tell: The specified procedure could not be found.
error

[2022-07-26 19:52] pathunstrom commented on #674
This is due to a new dependency release. We'll resolve it before the next ppb release, but in the short term if you EDITED: `pip install --upgrade pysdl-dll==2.0.20` you should be able to use it until it's all sorted.

[2022-09-10 16:44] RhetTbull opened #675 "Crash on exit "Error calling SDL_DestroyWindow: Window data not set""
## Summary

On exit of any ppb example, python crashes with error: "Error calling SDL_DestroyWindow: Window data not set".  Traceback below.  The examples all appear to run correctly until the the window is closed at which time it looks like `Renderer.__exit__` triggers the exception when attempting to call `sdl_call(SDL_DestroyWindow, self.window)`.  If `pysdl2-dll` is downgraded to the last vers

[2022-09-10 16:56] RhetTbull commented on #675
Just to confirm it wasn't an issue with my python version (which was built from source using pyenv), I tried with the [latest 3.10.7 version from python.org](https://www.python.org/downloads/release/python-3107/) but still got the same error.

[code]

[2022-09-10 17:33] RhetTbull commented on #675
The error appears to be coming from SDL [here](https://github.com/libsdl-org/SDL/blob/00452e47fa022314b4c21af2d4e5b63a53f89b8f/src/video/cocoa/SDL_cocoawindow.m#L2242-L2252):

https://github.com/libsdl-org/SDL/blob/00452e47fa022314b4c21af2d4e5b63a53f89b8f/src/video/cocoa/SDL_cocoawindow.m#L2242-L2252

[code]

The code in question was changed recently.

Prior to the change, the code return 0 if win

[2022-09-12 12:30] a-hurst commented on #675
@RhetTbull Just chiming in here as the maintainer for PySDL2: the underlying issue here I think is that the SDL2 people have started to make heavier use of `SDL_SetError` for non-fatal errors, but I believe PPB's error handling is designed to always check if `SDL_GetError` is non-empty after calling a given function and raises an error if one was found.

I had to rewrite a bunch of PySDL2's unit t

[2022-09-30 22:28] ace510 opened #676 "SdlMixerError error when running ppb"
'''
UserWarning: Using SDL2 binaries from pysdl2-dll 2.24.0
Traceback (most recent call last):
  File "C:\Users\ihclark\Python-2022-9-30\ppb_gam.py", line 3, in <module>
    ppb.run()
  File "C:\Python39\lib\site-packages\ppb\__init__.py", line 152, in run
    with make_engine(setup, starting_scene=starting_scene, title=title, **engine_opts) as eng:
  File "C:\Python39\lib\site-packages\ppb\engine

[2022-10-14 17:00] ace510 commented on #674
sadly, gave that a shot, getting
`(venv) PS C:\Users\ihclark\python-2022\Python-2022-9-30> pip install --upgrade pysdl-dll==2.022
ERROR: Could not find a version that satisfies the requirement pysdl-dll==2.022 (from versions: none)
ERROR: No matching distribution found for pysdl-dll==2.022`

[2022-10-14 17:01] #676 closed, assigned to nobody

[2022-10-14 17:17] pathunstrom commented on #674
I typoed that very badly: `pysdl2-dll==2.0.20`. I tested this for a tutorial recently and it continues to work. Sorry about the misinformation.

[2022-10-14 17:23] ace510 commented on #674
bless 👼🏻 worked a treat!

[2022-11-15 04:01] lunacodes commented on #613
Closing, since it was completed in [e58233ebd1109463e44a383af104602a26d5d08f]

[2022-11-15 04:01] #613 closed, assigned to nobody

[2022-11-15 04:27] lunacodes commented on #599
Closing. Was completed in https://github.com/ppb/pursuedpybear/pull/638

[2022-11-15 04:27] #599 closed, assigned to nobody

[2022-11-27 23:01] troberts-28 commented on #676
Did you have any luck with this?

[2022-11-28 21:35] ace510 commented on #676
worked a treat! thank you